[PACKAGE]

[CLASS_DEFINITION]{
	/* ############ ENUMS ############ */
[ENUMS]

	/* ############ FIELDS ############ */
[FIELDS]

	/* ############ CONSTRUCTORS ############ */
[CONSTRUCTORS]

	/* ############ METHODS ############ */
[METHODS]

	/* ############ INNER CLASSES ############ */
[INNER_CLASSES]

}
