[CLASS_DEFINITION]{

	/* ############ FIELDS ############ */";
[FIELDS]

	/* ############ CONSTRUCTORS ############ */";
[CONSTRUCTORS]

	/* ############ METHODS ############ */
[METHODS]

	/* ############ INNER CLASSES ############ */
[INNER_CLASSES]

};
